html{
    scroll-behavior:smooth;
}

body{

    font-family: 'Brush Script MT', cursive;

    overflow:hidden;

    background:#050816;

    color:white;

    height:100vh;

}

/*=========================
Animated Background
==========================*/

body::before{

content:"";

position:fixed;

width:100%;

height:100%;

background: radial-gradient(circle at top,#203a43,#0f2027,#050816);


z-index:-5;

}

/*=========================
Stars
==========================*/

#stars{

position:fixed;

width:100%;

height:100%;

background-image: radial-gradient(white 1px,transparent 1px);
   /*url('https://github.com/user-attachments/assets/8d4f815a-5b32-4397-8855-de0700b18f4d');*/

background-size:45px 45px;

opacity:.35;

animation:moveStars 80s linear infinite;

z-index:-4;

}

@keyframes moveStars{

from{

transform:translateY(0);

}

to{

transform:translateY(-1200px);

}

}

/*=========================
Floating Hearts
==========================*/

#hearts{

position:fixed;

width:100%;

height:100%;

overflow:hidden;

pointer-events:none;

z-index:-3;

}

#hearts::before{

content:"❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";

position:absolute;

left:-20%;

bottom:-50px;

font-size:26px;

letter-spacing:40px;

animation:hearts 18s linear infinite;

opacity:.18;

}

@keyframes hearts{

0%{

transform:
translateY(0)
translateX(0);

}

100%{

transform:
translateY(-120vh)
translateX(180px);

}

}

/*=========================
Particles
==========================*/

#particles{

position:fixed;

width:100%;

height:100%;

background-image:
radial-gradient(#ffffff44 2px,transparent 2px);

background-size:120px 120px;

animation:particleMove 25s linear infinite;

z-index:-2;

}

@keyframes particleMove{

to{

transform:translateX(-120px)
translateY(-120px);

}

}

/*loading screen */

/* ===========================
   Loading Screen
=========================== */

#loading{
    position:fixed;
    inset:0;
    background:#000;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:999999;
}

.loading-content{
    text-align:center;
    margin-bottom:50px;
}

.loading-content h1{
    color:#FFD700;
    font-size:60px;
    margin-bottom:25px;
    text-shadow:0 0 20px gold;
}

#typingText{
    color:white;
    font-size:24px;
    min-height:40px;
    letter-spacing:1px;
}

/* ===========================
   Loading Percentage
=========================== */

#loadingText{
    color:#FFD700;
    font-size:32px;
    margin-bottom:20px;
    font-weight:600;
    text-shadow:0 0 15px gold;
}

/* ===========================
   Progress Bar
=========================== */

.progress{
    width:450px;
    height:12px;
    background:rgba(255,255,255,.15);
    border-radius:30px;
    overflow:hidden;
    box-shadow:
        inset 0 0 8px rgba(255,255,255,.2),
        0 0 20px rgba(255,215,0,.2);
}

#loadingBar{
    width:0%;
    height:100%;
    border-radius:30px;
    background:linear-gradient(
        90deg,
        #FFD700,
        #FFC107,
        #FFF4B0,
        #FFD700
    );
    transition:width .3s linear;
    box-shadow:
        0 0 15px gold,
        0 0 30px rgba(255,215,0,.7);
}
