html{
    scroll-behavior:smooth;
}

body{

    font-family: 'Brush Script MT', cursive;

    overflow:hidden;

    background:#050816;

    color:white;

    height:90%;

}

/*=========================
Animated Background
==========================*/

body::before{

content:"";

position:fixed;

width:100%;

height:90%;

background: radial-gradient(circle at top,#203a43,#0f2027,#050816);


z-index:-5;

}

/*=========================
Stars
==========================*/

#stars{

position:fixed;

width:100%;

height:100%;

background-image: radial-gradient(white 1px,transparent 1px);
   /*url('https://github.com/user-attachments/assets/8d4f815a-5b32-4397-8855-de0700b18f4d');*/

background-size:45px 45px;

opacity:.35;

animation:moveStars 80s linear infinite;

z-index:-4;

}

@keyframes moveStars{

from{

transform:translateY(0);

}

to{

transform:translateY(-1200px);

}

}

/*=========================
Floating Hearts
==========================*/

#hearts{

position:fixed;

width:100%;

height:100%;

overflow:hidden;

pointer-events:none;

z-index:-3;

}

#hearts::before{

content:"❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";

position:absolute;

left:-20%;

bottom:-50px;

font-size:26px;

letter-spacing:40px;

animation:hearts 18s linear infinite;

opacity:.18;

}

@keyframes hearts{

0%{

transform:
translateY(0)
translateX(0);

}

100%{

transform:
translateY(-120vh)
translateX(180px);

}

}

/*=========================
Particles
==========================*/

#particles{

position:fixed;

width:100%;

height:100%;

background-image:
radial-gradient(#ffffff44 2px,transparent 2px);

background-size:120px 120px;

animation:particleMove 25s linear infinite;

z-index:-2;

}

@keyframes particleMove{

to{

transform:translateX(-120px)
translateY(-120px);

}

}

/*loading screen */

/* ===========================
   Loading Screen
=========================== */

#loading{
    position:fixed;
    inset:0;
    background:#000;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:999999;
}

.loading-content{
    text-align:center;
    margin-bottom:50px;
}

.loading-content h1{
    color:#ff6666;
    font-size:60px;
    margin-bottom:25px;
    text-shadow:0 0 20px #ff6666;
}

#typingText{
    color:white;
    font-size:24px;
    min-height:40px;
    letter-spacing:1px;
}

/* ===========================
   Loading Percentage
=========================== */

#loadingText{
    color:#ff6666;
    font-size:32px;
    margin-bottom:20px;
    font-weight:600;
    text-shadow:0 0 15px #ff6666;
}

/* ===========================
   Progress Bar
=========================== */

.progress{
    width:450px;
    height:12px;
    background:rgba(255,255,255,.15);
    border-radius:30px;
    overflow:hidden;
    box-shadow:
        inset 0 0 8px rgba(255,255,255,.2),
        0 0 20px #ff8080;
}

#loadingBar{
    width:0%;
    height:100%;
    border-radius:30px;
    background:linear-gradient(
        90deg,
        #ff6666,
        #ff4d4d,
        #ffb3b3,
        #ff6666
    );
    transition:width .3s linear;
    box-shadow:
        0 0 15px #ff6666,
        0 0 30px #ff8080;
}

/*fireworks */

#fireworksCanvas{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    pointer-events:none;
    transition:opacity 3s;
}
/*birthday candle*/

#birthdaySection{

position:relative;

height:90%;

justify-content:center;

align-items:center;

overflow:hidden;

font-family: 'Brush Script MT', cursive;

color:white;
    

}

.overlay{

position:absolute;

width:100%;

height:90%;


}

.content{

position:relative;

text-align:center;

z-index:2;

}

.content h3{

font-size:30px;

letter-spacing:15px;

color:#ff6666;
   
font-family: Georgia, serif;
    line-height:1px;
}

.content h1{

font-size:80px;

font-style:italic;

color:#ff3333;

text-shadow:0 0 20px #ff3333;
    line-height:1px;

}

.content h2{

font-size:60px;

letter-spacing:5px;

font-family: Georgia, serif;

color:#fff;
   text-shadow:0 0 20px #ff3333;
    line-height:1px;

}

.content p{

margin:20px auto;

width:500px;

line-height:30px;

font-size:20px;

opacity:.9;

}

.cake{

position:relative;

width:220px;

height:200px;

margin:40px auto;

}

.cake-body{

position:absolute;

bottom:0;

width:220px;

height:120px;

background:#432818;

border-radius:10px;

box-shadow:

0 0 30px rgba(255,215,0,.3);

}

.cake-top{

position:absolute;

bottom:105px;

width:220px;

height:25px;

background:#7b2d26;

border-radius:50px;

}

.candle{

position:absolute;

left:50%;

transform:translateX(-50%);

bottom:125px;

width:12px;

height:70px;

background:white;

border-radius:5px;

}

.flame{

position:absolute;

left:50%;

transform:translateX(-50%);

top:-22px;

width:18px;

height:28px;

background:orange;

border-radius:50% 50% 50% 50%;

box-shadow:

0 0 20px yellow,

0 0 40px orange;

animation:flicker .15s infinite alternate;

}

@keyframes flicker{

from{

transform:translateX(-50%) scale(1);

}

to{

transform:translateX(-50%) scale(.8);

}

}

#blowBtn{

margin-top:25px;

padding:15px 35px;

font-size:20px;

border:none;

border-radius:30px;

background:linear-gradient(45deg,#000,#ff6666);

color:white;

cursor:pointer;

box-shadow:0 0 20px #ff3333;

transition:.3s;

}

#blowBtn:hover{

transform:scale(1.05);

}
#birthdaySection{
    display:none;
    opacity:0;
    transition:opacity 1s ease;
}

.showBirthday{
    opacity:1 !important;
}

/*gift*/

/* ===============================
   Gift Intro Screen
================================== */

#giftPage{
    position:fixed;
    inset:0;
    background:#000;
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    overflow:hidden;
    z-index:99999;
    opacity:1;
    transition:opacity 1.5s ease;
}

/* Optional: Golden stars background */
#giftPage::before{
    content:"";
    position:absolute;
    inset:0;
    background:
        radial-gradient(circle at 20% 30%, rgba(255,215,0,.8) 1px, transparent 2px),
        radial-gradient(circle at 70% 20%, rgba(255,215,0,.6) 1px, transparent 2px),
        radial-gradient(circle at 80% 80%, rgba(255,215,0,.7) 1px, transparent 2px),
        radial-gradient(circle at 40% 70%, rgba(255,215,0,.6) 1px, transparent 2px),
        radial-gradient(circle at 15% 85%, rgba(255,215,0,.8) 1px, transparent 2px);
    background-size:300px 300px;
    animation:starsMove 25s linear infinite;
    opacity:.5;
}

@keyframes starsMove{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-120px);
    }

}

/* ================================= */

#giftMessage{

    position:relative;
    z-index:2;

    color:#ff8080;

    font-size:55px;

    font-family: 'Brush Script MT', cursive;

    width:80%;

    max-width:900px;

    line-height:1.5;

    text-shadow:
        0 0 15px #ff8080,
        0 0 30px #ff8080;

    opacity:0;

    transition:opacity .8s ease;

}

/* ================================= */

#giftBox{

    position:relative;

    z-index:2;

    display:none;

    animation:fadeUp 1.2s ease;

}

.gift-icon{

    font-size:140px;

    animation:float 2s ease-in-out infinite;

}

#giftBox h2{

    margin-top:20px;

    color:#ff4d4d;

    font-size:34px;

    font-weight:300;

    letter-spacing:1px;

}

#openGift{

    margin-top:50px;

    padding:18px 45px;

    font-size:24px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    color:#ffffff;

    background:linear-gradient(45deg,#ff4d4d,#ff8080);

    box-shadow:
        0 0 20px #ff8080,
        0 0 50px #ff8080;

    transition:.3s;

}

#openGift:hover{

    transform:scale(1.08);

    box-shadow:
        0 0 30px #ff6666,
        0 0 60px #ff6666;

}

/* ================================= */

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(50px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
/*image*/
#photoSlider{
    position:fixed;
    inset:0;
    background:#000;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.slide-title{

    color:#ff6699;

    font-size:45px;

    font-weight:bold;

    margin-bottom:35px;

    letter-spacing:2px;

    text-shadow:0 0 20px #ff6699;

    opacity:0;

    transition: opacity .7s ease, transform .7s ease;
}

.image-card{

    width:90%;
    max-width:800px;
    max-height:80vh;

    border-radius:30px;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#111;
 transition: opacity .7s ease, transform .7s ease;
}

.image-card img{

    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;

    object-fit:contain;

}

/* final page */

/* ===============================
   Final Screen
================================ */

#finalPage{

    position:fixed;
    inset:0;

    display:none;
    justify-content:center;
    align-items:center;

    background:#ff8080;

    z-index:999999;

    overflow:hidden;

    font-family:'Poppins',sans-serif;

}

/* Glass Card */

.final-card{

    width:80%;
    max-width:900px;

    padding:50px;

    text-align:center;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(15px);

    border-radius:30px;

    border:1px solid rgba(255,255,255,.3);

    box-shadow:
        0 15px 40px rgba(0,0,0,.15);

    animation:fadeUp 1.5s ease;

}

/* Heading */

.final-card h1{

    font-size:55px;

    color:white;

    margin-bottom:35px;

    text-shadow:0 3px 10px rgba(0,0,0,.25);

}

/* Paragraph */

.final-card p{

    color:white;

    font-size:24px;

    line-height:30px;

    margin-bottom:25px;

}

/* Love Text */

.loveText{

    font-size:28px;

    font-weight:600;

    margin-top:30px;

}

/* Continue */

.continued{

    margin-top:60px;

    font-size:46px;

    font-weight:700;

    color:white;

    animation:pulse 2s infinite;

}

/* Next Chapter */

.chapter{

    margin-top:20px;

    font-size:28px;

    color:#fff;

}

/* Dream Home */

.home{

    margin-top:10px;

    font-size:34px;

    font-weight:600;

    color:#fff;

}

/* Signature */

.signature{

    margin-top:60px;

    font-size:22px;

    color:white;

    opacity:.9;

}

/* Animation */

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes pulse{

    0%,100%{

        transform:scale(1);

    }

    50%{

        transform:scale(1.05);

    }

}

/* final heart */

#finalHearts{

    position:absolute;
    inset:0;

    overflow:hidden;

    pointer-events:none;

}

.finalHeart{

    position:absolute;

    bottom:-50px;

    color:white;

    opacity:.4;

    animation:floatHeart 8s linear forwards;

}

@keyframes floatHeart{

    from{

        transform:translateY(0);

        opacity:.5;

    }

    to{

        transform:translateY(-120vh);

        opacity:0;

    }

}
